.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    font-size: large;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .checkmark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0;
  }

  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 20%;
    padding: 5px;
    position: relative;
    bottom: 20vh;
  }

  .profile {
    height: 400px;
    width: auto;
    margin-top: 4vh;
    margin-right: -9vw;
    border-radius: 30%;
    
  }

  .huge {
    font-size: 5rem;
  }

  .formcolor {
    background-color: #F5F4F6;
  }

  .button1 {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0!important;
    cursor: pointer;
    background-color: rgb(233, 214, 214);
    font-weight: bold;
  }

  .recognizerbackground {
    background-image: url('./Facerecognizer-portfolio.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .butlerbackground {
    background-image: url('./boredom-butler.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 25%;
    right: 25%;
  }

  @media only screen and (max-width: 425px) {
    .title {
      display: none;
    }
  }

  @media only screen and (max-width:1000px) {
    .profile {
      height: 200px;
      width: auto;
    }
  }

